{% extends "base.html" %}
<!-- Main Content-->
{% block title %}Home Page{% endblock title %}
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for blog_post in all_blog_posts %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href={{ url_for('views.blog_post', blog_post_id=blog_post.id) }}>
                        <h2 class="post-title">{{ blog_post.title }}</h2>
                        <h3 class="post-subtitle">{{ blog_post.content|truncate(15) }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{ blog_post.user.first_name  }} {{ blog_post.user.last_name }}</a>
                        on {{ blog_post.date_created }}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}